server:
  port: 8081
management:
  endpoints:
    web:
      exposure:
        include: health,info

whatsapp:
  verify-token: ${WHATSAPP_VERIFY_TOKEN:}
  app-secret: ${WHATSAPP_APP_SECRET_DEV:}

spring:
  jpa:
    hibernate:
      ddl-auto: update